.project {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.project__list {
  padding-left: 6rem;
  padding-right: 6rem;
}

.project__title-mode {
  color: white;
  padding-top: 50px;
  font-size: 40px;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -0.015em;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .project__list {
    grid-template-columns: repeat(auto-fill, 100%);
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.project__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
}
