.profile {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 6rem;
  padding-right: 6rem;
}

.profile__container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.profile__image {
  margin-left: 50px;
  width: 100px;
  height: 100px;
  object-position: 0 0;
  object-fit: cover;
  border-radius: 50%;
}

.profile__link {
  cursor: pointer;
}

.profile__title {
  font-size: 40px;
  line-height: 1.05;
  font-weight: 900;
  letter-spacing: -0.015em;
  text-align: left;
  color: white;
  margin-top: 50px;
  padding-top: 50px;
}

.profile__subtitle {
  color: #518851;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 200;
  letter-spacing: -0.015em;
  text-align: left;
}

.profile__item {
  color: #ffffff;
  margin-top: 25px;
  font-size: 14px;
  text-align: left;
  line-height: 2em;
  letter-spacing: 1px;
}

.profile__item-green {
  color: #518851;
  margin-top: 25px;
  font-size: 14px;
  text-align: left;
  line-height: 2em;
  letter-spacing: 1px;
}

.profile__stack {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;
}

@media all and (max-width: 650px) {
  .profile__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .profile__image {
    margin: 0;
    align-self: center;
  }
  .profile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .profile__title {
    font-size: 50px;
    text-align: center;
  }
}

@media all and (max-width: 350px) {
  .profile__subtitle {
    font-size: 15px;
  }
  .profile__title {
    font-size: 20px;
    text-align: center;
  }
}
