.card {
  position: relative;
  width: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.card:nth-last-child(2n + 1) {
  flex-direction: row-reverse;
}

.card__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #518851;
}

.card__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.card__image-block {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.card__image {
  width: 100%;
  height: 100%;
  object-position: 0 0;
  object-fit: cover;
  cursor: pointer;
  transition: 5s;
}

.card__image-block:hover {
  opacity: 100;
}

.card__content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

@media all and (max-width: 800px) {
  .card {
    flex-direction: column;
  }
  .card:nth-last-child(2n + 1) {
    flex-direction: column;
  }

  .card__content {
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }
}
