.tech {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: #f5f5f5; */
}

.tech__title-mode {
  color: white;
  padding-top: 50px;
  font-size: 40px;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -0.015em;
  text-align: center;
}

.tech__title {
  color: white;
  padding-top: 50px;
  font-size: 30px;
  line-height: 1.05;
  font-weight: 500;
  letter-spacing: -0.015em;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

.tech__container {
  margin: 20px 20px 20px 20px;
  margin: 0 auto;
  max-width: 1280px;
}

.tech__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}

.tech__text-list {
  list-style: square;
  position: relative;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tech__text-item {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: -0.015em;
  text-align: start;
  margin-left: 15px;
  color: white;
  margin-right: 15px;
}

.tech__item {
  background: linear-gradient(150deg, #124d86 0%, #14204e 100%);
  width: 100%;
  max-width: 500px;
  border-radius: 30px;
  padding-bottom: 50px;
  cursor: pointer;
}

.tech__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px 0 rgb(255, 255, 255);
}

.tech__image {
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
}
