.contacts {
    max-width: 90%;
    margin: 0 auto;
}

.contacts__title {
    font-size: 40px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -0.015em;
    text-align: center;
    color: white;
    margin-top: 50px;
    padding-top: 50px;
}

.contacts__container {
    background-image: url(../../images/icons/cyber.gif);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-bottom: 50px;
}

.contacts__container:hover {
    border: solid 1px #fff;
    box-shadow: 0 5px 15px 0 rgb(255, 255, 255);
}

.contacts__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contacts__link {
    margin-left: 50px;
}

.contacts__link:hover {
    transform: translateY(-10px);
}

.contacts__link:first-child {
    margin-left: 0;
}

@media all and (max-width: 550px) {
    .contacts__container {
        flex-direction: column;
    }
    .contacts__link {
        margin: 0 auto;
        padding-top: 30px;
    }
    .contacts__link:first-child {
        margin: 0 auto;
    }
}